USE [NGANHANG]
GO
--tạo 2 user su dung thao tac khong su dung lenh nua vi bi loi
--CREATE USER [001] FOR LOGIN [PQH] WITH DEFAULT_SCHEMA=[dbo] 
GO
--CREATE USER [HTKN] FOR LOGIN [HTKN] WITH DEFAULT_SCHEMA=[dbo]
GO
CREATE ROLE [CHINHANH]
GO
CREATE ROLE [MSmerge_1B8795261E814B82B6DEA30DECB5F213]
GO
CREATE ROLE [MSmerge_42B72FD8EB24401085930C54E9CB9489]
GO
CREATE ROLE [MSmerge_56451163F1C54D59912BF1BCE1BE8FEF]
GO
CREATE ROLE [MSmerge_PAL_role]
GO
CREATE ROLE [NGANHANG]
GO
ALTER ROLE [NGANHANG] ADD MEMBER [001]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [001]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [001]
GO
ALTER ROLE [db_datareader] ADD MEMBER [001]
GO
ALTER ROLE [db_owner] ADD MEMBER [HTKN]
GO
ALTER ROLE [db_owner] ADD MEMBER [CHINHANH]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_1B8795261E814B82B6DEA30DECB5F213]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_42B72FD8EB24401085930C54E9CB9489]
GO
ALTER ROLE [MSmerge_PAL_role] ADD MEMBER [MSmerge_56451163F1C54D59912BF1BCE1BE8FEF]
GO
ALTER ROLE [db_accessadmin] ADD MEMBER [NGANHANG]
GO
ALTER ROLE [db_securityadmin] ADD MEMBER [NGANHANG]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NGANHANG]
GO
/****** Object:  Schema [MSmerge_PAL_role]     ******/
CREATE SCHEMA [MSmerge_PAL_role]
GO
/****** Object:  UserDefinedTableType [dbo].[TBTYPE_TAIKHOAN]     ******/
CREATE TYPE [dbo].[TBTYPE_TAIKHOAN] AS TABLE(
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NOT NULL,
	[MACN] [nchar](10) NOT NULL,
	[NGAYMOTK] [datetime] NOT NULL
)
GO
/****** Object:  Table [dbo].[ChiNhanh]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiNhanh](
	[MACN] [nchar](10) NOT NULL,
	[TENCN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](100) NOT NULL,
	[SoDT] [nvarchar](15) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_3384D22FBE434E2798B2D76034D249EA]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_ChiNhanh] PRIMARY KEY CLUSTERED 
(
	[MACN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_CHUYENTIEN]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_CHUYENTIEN](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK_CHUYEN] [nchar](9) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_CHUYENTIEN_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL,
	[SOTK_NHAN] [nchar](9) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_74F517833F26443EBA17D65DAF724DE7]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_CHUYENTIEN] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[GD_GOIRUT]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GD_GOIRUT](
	[MAGD] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[SOTK] [nchar](9) NOT NULL,
	[LOAIGD] [nchar](2) NOT NULL,
	[NGAYGD] [datetime] NOT NULL CONSTRAINT [DF_GD_GOIRUT_NGAYGD]  DEFAULT (getdate()),
	[SOTIEN] [money] NOT NULL CONSTRAINT [DF_GD_GOIRUT_SOTIEN]  DEFAULT ((100000)),
	[MANV] [nchar](10) NOT NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_630D36E0946A479E8E231A2D6E9FDEB5]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_GD_GOIRUT] PRIMARY KEY CLUSTERED 
(
	[MAGD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Table [dbo].[KhachHang]******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[CMND] [nchar](10) NOT NULL,
	[HO] [nvarchar](50) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[NGAYCAP] [date] NOT NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_1BBAB836732240449E993E750A93AB66]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANV] [nchar](10) NOT NULL,
	[HO] [nvarchar](40) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](100) NULL,
	[PHAI] [nvarchar](3) NULL,
	[SODT] [nvarchar](15) NOT NULL,
	[MACN] [nchar](10) NULL,
	[TrangThaiXoa] [int] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_FA99C4DE6BEE4CF8946E14107A929BF1]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[SOTK] [nchar](9) NOT NULL,
	[CMND] [nchar](10) NOT NULL,
	[SODU] [money] NULL DEFAULT ((0)),
	[MACN] [nchar](10) NULL,
	[NGAYMOTK] [datetime] NULL,
	[rowguid] [uniqueidentifier] ROWGUIDCOL  NOT NULL CONSTRAINT [MSmerge_df_rowguid_EA9D751AB293413CADB2D17EDF6F360D]  DEFAULT (newsequentialid()),
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[SOTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  View [dbo].[uv_GetSubcribers]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE VIEW [dbo].[uv_GetSubcribers]
--AS
--	SELECT TENCN=PUBS.description, TENSERVER=subscriber_server
--	 FROM sysmergepublications  PUBS, sysmergesubscriptions SUBS
-- 	WHERE PUBS.pubid = SUBS.pubid AND  publisher <> subscriber_server
--	AND subscriber_server <> 'DESKTOP-HFSVSBG\\MSSQLSERVER01'


GO
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'HANOI', N'Chi nhánh HÀ NỘI', N'1 Xốm, Quận Hà Đông, HN', N'..', N'd7527a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[ChiNhanh] ([MACN], [TENCN], [DIACHI], [SoDT], [rowguid]) VALUES (N'HAIDUONG   ', N'Chi nhánh HẢI DƯƠNG', N'234 vinh quang, thị thấn Cẩm Giang, Cẩm Giàng, HD', N'...', N'd8527a09-eba8-ec11-b0b1-80c5f206461f')
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] ON 
EXEC sp_adjustpublisheridentityrange 
    @publication = 'DESKTOP-HFSVSBG\MEOW', -- Thay Tên_bản_phát bằng tên bản phát của bạn
    @table_name = 'dbo.GD_CHUYENTIEN';
	SELECT name 
FROM syspublications;

EXEC sp_helpsubscription;

INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (1, N'588657222', CAST(N'2021-06-11 05:06:17.000' AS DateTime), 345000.0000, N'543044325', N'NV24      ', N'1b547a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (2, N'417712760', CAST(N'2021-09-08 08:34:11.000' AS DateTime), 378000.0000, N'294549800', N'NV31      ', N'1c547a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[GD_CHUYENTIEN] ([MAGD], [SOTK_CHUYEN], [NGAYGD], [SOTIEN], [SOTK_NHAN], [MANV], [rowguid]) VALUES (3, N'030100610', CAST(N'2021-09-10 01:45:00.000' AS DateTime), 359000.0000, N'270081205', N'NV31      ', N'1d547a09-eba8-ec11-b0b1-80c5f206461f')
GO
SET IDENTITY_INSERT [dbo].[GD_CHUYENTIEN] OFF
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] ON 

INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (1, N'002653412', N'RT', CAST(N'2021-05-15 07:07:09.000' AS DateTime), 335000.0000, N'NV48      ', N'79547a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (2, N'017079456', N'GT', CAST(N'2021-02-27 05:49:56.000' AS DateTime), 368000.0000, N'NV26      ', N'7a547a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[GD_GOIRUT] ([MAGD], [SOTK], [LOAIGD], [NGAYGD], [SOTIEN], [MANV], [rowguid]) VALUES (3, N'030100610', N'GT', CAST(N'2021-07-22 18:14:10.000' AS DateTime), 165000.0000, N'NV04      ', N'7b547a09-eba8-ec11-b0b1-80c5f206461f')
GO
SET IDENTITY_INSERT [dbo].[GD_GOIRUT] OFF
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'00111     ', N'Tèoo', N'Nguyễn', N'11122 22233', N'Nam', CAST(N'2021-12-12' AS Date), N'0800908761', N'HAIDUONG  ', N'd9527a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0111882751', N'Joshua Wood', N'Etta', N'1236 Azpic Terrace', N'Nam', CAST(N'2020-03-10' AS Date), N'0015336248', N'HANOI   ', N'da527a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[KhachHang] ([CMND], [HO], [TEN], [DIACHI], [PHAI], [NGAYCAP], [SODT], [MACN], [rowguid]) VALUES (N'0137546824', N'nguyen', N'Bryan', N'1882 Akci Grove', N'Nam', CAST(N'2020-08-17' AS Date), N'0745945393', N'HAIDUONG', N'db527a09-eba8-ec11-b0b1-80c5f206461f')
GO
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV01      ', N'Ora Vega', N'Edgar', N'1898 Rewah Parkway', N'Nữ', N'0662130604', N'HANOI   ', 0, N'6e537a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV02      ', N'Nell Obrien', N'William', N'539 Kuzvos Trail', N'Nữ', N'0545204069', N'HAIDUONG', 1, N'6f537a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[NhanVien] ([MANV], [HO], [TEN], [DIACHI], [PHAI], [SODT], [MACN], [TrangThaiXoa], [rowguid]) VALUES (N'NV03      ', N'Mollie Bankss', N'Marie', N'323 Zizla View', N'Nam', N'0012540829', N'HANOI   ', 0, N'70537a09-eba8-ec11-b0b1-80c5f206461f')
GO
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'002653412', N'7427467771', 2136000.0000, N'HANOI   ', CAST(N'2020-07-30 00:00:00.000' AS DateTime), N'a6537a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'003242939', N'00111     ', 10121213.0000, N'HAIDUONG', CAST(N'2021-12-13 19:36:06.020' AS DateTime), N'a7537a09-eba8-ec11-b0b1-80c5f206461f')
INSERT [dbo].[TaiKhoan] ([SOTK], [CMND], [SODU], [MACN], [NGAYMOTK], [rowguid]) VALUES (N'017079456', N'1323213371', 8803000.0000, N'HANOI   ', CAST(N'2020-08-16 00:00:00.000' AS DateTime), N'a8537a09-eba8-ec11-b0b1-80c5f206461f')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [UK_ChiNhanh]     ******/
ALTER TABLE [dbo].[ChiNhanh] ADD  CONSTRAINT [UK_ChiNhanh] UNIQUE NONCLUSTERED 
(
	[TENCN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_NhanVien]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan] FOREIGN KEY([SOTK_CHUYEN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1] FOREIGN KEY([SOTK_NHAN])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [FK_GD_CHUYENTIEN_TaiKhoan1]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_NhanVien] FOREIGN KEY([MANV])
REFERENCES [dbo].[NhanVien] ([MANV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_NhanVien]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [FK_GD_GOIRUT_TaiKhoan] FOREIGN KEY([SOTK])
REFERENCES [dbo].[TaiKhoan] ([SOTK])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [FK_GD_GOIRUT_TaiKhoan]
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD  CONSTRAINT [FK_NhanVien_ChiNhanh] FOREIGN KEY([MACN])
REFERENCES [dbo].[ChiNhanh] ([MACN])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NhanVien] CHECK CONSTRAINT [FK_NhanVien_ChiNhanh]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [FK_TaiKhoan_KhachHang] FOREIGN KEY([CMND])
REFERENCES [dbo].[KhachHang] ([CMND])
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [FK_TaiKhoan_KhachHang]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH CHECK ADD  CONSTRAINT [CK_GD_CHUYENTIEN] CHECK  (([SOTIEN]>(0)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [CK_GD_CHUYENTIEN]
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_13F65CC7_D277_4028_B3BA_8904DDFE7C28] CHECK NOT FOR REPLICATION (([MAGD]>(134094) AND [MAGD]<=(135094) OR [MAGD]>(135094) AND [MAGD]<=(136094)))
GO
ALTER TABLE [dbo].[GD_CHUYENTIEN] CHECK CONSTRAINT [repl_identity_range_13F65CC7_D277_4028_B3BA_8904DDFE7C28]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_LOAIGD] CHECK  (([LOAIGD]='RT' OR [LOAIGD]='GT'))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_LOAIGD]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH CHECK ADD  CONSTRAINT [CK_SOTIEN] CHECK  (([SOTIEN]>=(100000)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [CK_SOTIEN]
GO
ALTER TABLE [dbo].[GD_GOIRUT]  WITH NOCHECK ADD  CONSTRAINT [repl_identity_range_BBECB866_4646_416A_9B4D_2A0B0A90E557] CHECK NOT FOR REPLICATION (([MAGD]>(135100) AND [MAGD]<=(136100) OR [MAGD]>(136100) AND [MAGD]<=(137100)))
GO
ALTER TABLE [dbo].[GD_GOIRUT] CHECK CONSTRAINT [repl_identity_range_BBECB866_4646_416A_9B4D_2A0B0A90E557]
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD  CONSTRAINT [CK_TaiKhoan_SODU] CHECK  (([SODU]>=(0)))
GO
ALTER TABLE [dbo].[TaiKhoan] CHECK CONSTRAINT [CK_TaiKhoan_SODU]
GO
/****** Object:  StoredProcedure [dbo].[sp_SaoKeTaiKhoan]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_SaoKeTaiKhoan]
@SOTAIKHOAN NVARCHAR(9), @NGAYBD DATETIME, @NGAYKT DATETIME
AS
DECLARE @SOTIENBANDAU MONEY, @SODU MONEY
DECLARE @tab table(SODUDAU MONEY, NGAYGD DATETIME, LOAIGD NVARCHAR(2), SOTIEN MONEY, SODUSAU MONEY)
DECLARE @SODUDAU MONEY, @NGAYGD DATETIME, @LOAIGD NVARCHAR(2), @SOTIEN MONEY, @SODUSAU MONEY, @TK_NHAN NVARCHAR(9), @TEMP MONEY

SELECT @SODU = SODU FROM TaiKhoan TK WHERE TK.SOTK = @SOTAIKHOAN


SELECT @SOTIENBANDAU = @SODU + SUM(CASE WHEN GD.LOAIGD = 'RT' THEN GD.SOTIEN 
										WHEN GD.LOAIGD = 'GT' THEN -GD.SOTIEN
										WHEN GD.SOTK = @SOTAIKHOAN THEN -GD.SOTIEN 
										ELSE GD.SOTIEN END)
FROM (
SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT  WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
UNION 
SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN
) GD
WHERE GD.NGAYGD >= @NGAYBD
 

DECLARE cursorTK CURSOR 
FOR SELECT GD.NGAYGD, GD.LOAIGD, GD.SOTIEN, GD.SOTK
	FROM (

	SELECT NGAYGD, SOTIEN, LOAIGD='CT', SOTK = CT.SOTK_NHAN  FROM LINK0.NGANHANG.DBO.GD_CHUYENTIEN CT WHERE CT.SOTK_NHAN = @SOTAIKHOAN OR CT.SOTK_CHUYEN = @SOTAIKHOAN
	UNION 
	SELECT NGAYGD, SOTIEN, LOAIGD, SOTK FROM LINK0.NGANHANG.DBO.GD_GOIRUT WHERE GD_GOIRUT.SOTK = @SOTAIKHOAN
	
	) GD
	
	Where GD.NGAYGD BETWEEN @NGAYBD AND @NGAYKT
	ORDER BY GD.NGAYGD

OPEN cursorTK

FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN

SET @SODUDAU = @SOTIENBANDAU
IF(@LOAIGD = 'RT')
			SET @SODUSAU = @SODUDAU - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @SODUDAU + @SOTIEN
	ELSE
			SET @SODUSAU = @SODUDAU - @SOTIEN

WHILE @@FETCH_STATUS = 0
BEGIN 
	SET @TEMP = @SODUSAU   
	INSERT INTO @tab(SODUDAU, NGAYGD, LOAIGD, SOTIEN, SODUSAU)
	VALUES (@SODUDAU, @NGAYGD, @LOAIGD, @SOTIEN, @SODUSAU) 


	FETCH NEXT FROM cursorTK
      INTO @NGAYGD, @LOAIGD, @SOTIEN, @TK_NHAN
	
	SET @SODUDAU = @TEMP
	IF(@LOAIGD = 'RT')
			SET @SODUSAU = @TEMP - @SOTIEN
	ELSE IF(@LOAIGD = 'GT')
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE IF(@TK_NHAN = @SOTAIKHOAN)
			SET @SODUSAU = @TEMP + @SOTIEN
	ELSE
			SET @SODUSAU = @TEMP - @SOTIEN
END
SELECT SODUDAU, NGAYGD,(CASE WHEN (LOAIGD = 'CT' AND SODUSAU < SODUDAU) THEN N'CHUYỂN TIỀN' WHEN (LOAIGD = 'CT' AND SODUSAU > SODUDAU) THEN N'NHẬN TIỀN' WHEN LOAIGD = 'GT' THEN N'GỞI TIỀN' ELSE N'RÚT TIỀN' END) AS LOAIGD, SOTIEN, SODUSAU
FROM @tab t
CLOSE cursorTK  
DEALLOCATE cursorTK  
GO
/****** Object:  StoredProcedure [dbo].[usp_CreateNewLogin]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROC [dbo].[usp_CreateNewLogin]
    @LoginName VARCHAR(50),
    @MaNV VARCHAR(50),
    @Pass VARCHAR(50),
    @Role VARCHAR(50)
AS
BEGIN
	BEGIN TRY
		DECLARE @Ret INT;
		
		-- Tạo Login trên server trước
		-- Không cần kiểm tra tên login bị trùng vì lấy tên login lấy theo mã NV
		EXEC @Ret = sys.sp_addlogin @loginame = @LoginName,
									@passwd = @Pass,
									@defdb = 'NGANHANG';

		IF (@Ret = 1) -- LOGIN NAME BI TRUNG
			THROW 51000, 'Tên đăng nhập đã tồn tại', 16;

		-- Tạo user tương ứng với login trên DB
		-- Cần kiểm tra mã username bị trùng
		EXEC @Ret = sp_grantdbaccess @loginame = @LoginName, @name_in_db = @MaNV;

		IF (@Ret = 1) -- USER  NAME BI TRUNG
		BEGIN
			EXEC sp_droplogin @loginame = @LoginName;
			THROW 51000, 'TNhân viên đã có tài khoản với tên đăng nhập khác', 16;
		END;

		-- Cấp quyền cho user theo @Role
		EXEC sp_addrolemember @rolename = @Role, @membername = @MaNV;

		-- Cấp quyền tạo login cho user mới
		EXEC sp_addsrvrolemember @loginame = @LoginName, @rolename = 'SecurityAdmin';

		-- Cấp quyền kiểm tra user có login vào server (Dùng khi chuyển nhân viên)
		--IF @Role = 'CHINHANH'
			--EXEC sp_addsrvrolemember @loginame = @LoginName, @rolename = 'ProcessAdmin';
	END TRY
	BEGIN CATCH
		THROW;
	END CATCH
END;

GO
/****** Object:  StoredProcedure [dbo].[usp_DeleteLogin]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_DeleteLogin]
@MANV NVARCHAR(10)
AS
BEGIN
	DECLARE @LGNAME VARCHAR(50);
	DECLARE @USERNAME VARCHAR(50);
	SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname)) AS sysname);
	SET @USERNAME = CAST(@MANV AS VARCHAR(50));

	IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname))
	BEGIN
		EXEC SP_DROPUSER @USERNAME;
		EXEC SP_DROPLOGIN  @LGNAME;
	END
	--WITH (INDEX=IX_GD_CHUYENTIEN_NV)
	--WITH (INDEX=IX_GD_GOIRUT_NV)
	IF EXISTS(SELECT * FROM dbo.GD_CHUYENTIEN  WITH (INDEX=IX_GD_CHUYENTIEN_NV) WHERE MANV = @MANV) 
						OR EXISTS(SELECT * FROM dbo.GD_GOIRUT WITH (INDEX=IX_GD_GOIRUT_NV) WHERE MANV = @MANV)
			BEGIN 
				UPDATE dbo.NhanVien
				SET TrangThaiXoa = 1
				WHERE MANV = @MANV;
			END
		ELSE
			BEGIN
				DELETE FROM dbo.NhanVien Where MANV = @MANV
			END
END

GO
/****** Object:  StoredProcedure [dbo].[usp_DiChuyenNV]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DASUACHUARUN
CREATE PROCEDURE [dbo].[usp_DiChuyenNV] 
@MANV NCHAR(10), @MACN NCHAR(10),@NEWMANV NCHAR(10)
AS
SET XACT_ABORT ON;
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;

BEGIN
	
	DECLARE @HO NVARCHAR(40)
	DECLARE @TEN NVARCHAR(10)
	DECLARE @DIACHI NVARCHAR(100)
	DECLARE @PHAI NVARCHAR(3)
	DECLARE @SODT NVARCHAR(15)

	DECLARE @LGNAME VARCHAR(50);
	DECLARE @USERNAME VARCHAR(50);


	
	BEGIN DISTRIBUTED TRAN

		SELECT @HO = HO, @TEN = TEN, @DIACHI = DIACHI, @PHAI = PHAI, @SODT = SODT
		FROM NhanVien WHERE MANV = @MANV

		IF EXISTS(SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND PHAI=@PHAI AND SODT=@SODT )
			BEGIN
				UPDATE LINK0.NGANHANG.dbo.NhanVien
				SET TrangThaiXoa = 0
				WHERE MANV = (SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE  HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND PHAI=@PHAI AND SODT=@SODT)
			END
		ELSE
			BEGIN
				
				INSERT INTO LINK0.NGANHANG.dbo.NhanVien (MANV, HO, TEN, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
				VALUES (@NEWMANV , @HO, @TEN, @DIACHI, @PHAI, @SODT, @MACN, 0)
			END


		IF EXISTS(SELECT * FROM dbo.GD_CHUYENTIEN WHERE MANV = @MANV) 
						OR EXISTS(SELECT * FROM dbo.GD_GOIRUT WHERE MANV = @MANV)
			BEGIN 
				UPDATE dbo.NhanVien
				SET TrangThaiXoa = 1
				WHERE MANV = @MANV;
			END
		ELSE
			BEGIN
				DELETE FROM dbo.NhanVien Where MANV = @MANV
			END
			
	COMMIT TRAN;

	SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname)) AS sysname);
	SET @USERNAME = CAST(@MANV AS VARCHAR(50));

	IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname))
			BEGIN
				EXEC SP_DROPUSER @USERNAME;
				EXEC SP_DROPLOGIN  @LGNAME;
			END

END

GO
/****** Object:  StoredProcedure [dbo].[usp_DiChuyenNV2]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--DASUACHUARUN
create PROCEDURE [dbo].[usp_DiChuyenNV2] 
@MANV NVARCHAR(10), @MACN NVARCHAR(10),@NEWMANV NVARCHAR(10)
AS
BEGIN
	
	DECLARE @HO NVARCHAR(40)
	DECLARE @TEN NVARCHAR(10)
	DECLARE @DIACHI NVARCHAR(100)
	DECLARE @PHAI NVARCHAR(3)
	DECLARE @SODT NVARCHAR(15)

	DECLARE @LGNAME VARCHAR(50);
	DECLARE @USERNAME VARCHAR(50);


	SET XACT_ABORT ON;
	SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
	BEGIN DISTRIBUTED TRAN


		
		DECLARE @STR1 NVARCHAR(4000)
		SET @STR1='EXEC usp_DeleteLogin '+''''+@MANV+'''' 
		IF EXISTS (SELECT job_id FROM msdb.dbo.sysjobs_view WHERE name = N'Job_1')
			EXEC msdb.dbo.sp_delete_job @job_name=N'job_1'

		execute msdb.dbo.sp_add_job @job_name = N'job_1', @start_step_id = 1, @owner_login_name=N'sa'  
		EXECUTE msdb.dbo.sp_add_jobserver @job_name = N'job_1', @server_name = @@SERVERNAME
		execute msdb.dbo.sp_add_jobstep @job_name = N'job_1' , @step_id = 1,
		@step_name ='update sl', @command = @STR1 , @server = @@SERVERNAME, @database_name = 'NGANHANG'
		execute msdb.dbo.sp_start_job @job_name = N'job_1'
		



		SELECT @HO = HO, @TEN = TEN, @DIACHI = DIACHI, @PHAI = PHAI, @SODT = SODT
		FROM NhanVien WHERE MANV = @MANV

		IF EXISTS(SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND PHAI=@PHAI AND SODT=@SODT )
			BEGIN
				UPDATE LINK0.NGANHANG.dbo.NhanVien
				SET TrangThaiXoa = 0
				WHERE MANV = (SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE  HO=@HO AND TEN=@TEN AND DIACHI=@DIACHI AND PHAI=@PHAI AND SODT=@SODT)
			END
		ELSE
			BEGIN
				
				INSERT INTO LINK0.NGANHANG.dbo.NhanVien (MANV, HO, TEN, DIACHI, PHAI, SODT, MACN, TRANGTHAIXOA)
				VALUES (@NEWMANV , @HO, @TEN, @DIACHI, @PHAI, @SODT, @MACN, 0)
			END

		
		
		

		SET @LGNAME = CAST((SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname)) AS sysname);
		SET @USERNAME = CAST(@MANV AS VARCHAR(50));

		IF EXISTS(SELECT SUSER_SNAME(sid) FROM sys.sysusers WHERE name = CAST(@MANV AS sysname))
		BEGIN
			EXEC SP_DROPUSER @USERNAME;
			EXEC SP_DROPLOGIN  @LGNAME;
		END

	COMMIT TRAN;
END

GO
/****** Object:  StoredProcedure [dbo].[usp_GiaoDichChuyenTien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GiaoDichChuyenTien]
	@SOTK_NHAN NCHAR(9), @SOTK_CHUYEN NCHAR(9), @SOTIEN MONEY, @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK_CHUYEN)
		BEGIN
			UPDATE dbo.TaiKhoan
			SET SODU = SODU - @SOTIEN
			WHERE SOTK = @SOTK_CHUYEN
		END
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK_NHAN)
		BEGIN
			UPDATE dbo.TaiKhoan
			SET SODU = SODU + @SOTIEN
			WHERE SOTK = @SOTK_NHAN
		END
	IF EXISTS(SELECT NV.MANV FROM NhanVien NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_CHUYENTIEN(SOTK_CHUYEN,NGAYGD,SOTIEN,SOTK_NHAN,MANV)
				   VALUES(@SOTK_CHUYEN, GETDATE(), @SOTIEN, @SOTK_NHAN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi chuyển tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[usp_GiaoDichGuiRut]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_GiaoDichGuiRut]
@TYPE NCHAR(2), @SOTIEN MONEY, @SOTK NCHAR(9), @MANV NCHAR(10)
AS
SET XACT_ABORT ON
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE
BEGIN TRANSACTION
BEGIN TRY
	IF(@TYPE = 'GT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE dbo.TaiKhoan
					SET SODU = SODU + @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF(@TYPE = 'RT')
		BEGIN
			IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
				BEGIN
					UPDATE dbo.TaiKhoan
					SET SODU = SODU - @SOTIEN
					WHERE SOTK = @SOTK
				END
		END
	IF EXISTS(SELECT NV.MANV FROM NhanVien NV WHERE NV.MANV = @MANV)
		BEGIN
			INSERT INTO dbo.GD_GOIRUT(SOTK, LOAIGD, NGAYGD, SOTIEN, MANV)
				   VALUES(@SOTK, @TYPE, GETDATE(), @SOTIEN, @MANV)
		END
	COMMIT TRANSACTION
END TRY
BEGIN CATCH
	IF (@@TRANCOUNT > 0)
	BEGIN
		ROLLBACK TRANSACTION
		RAISERROR('Lỗi khi gởi rút tiền. Vui lòng kiểm tra.', 16, 1)
	END
END CATCH

GO
/****** Object:  StoredProcedure [dbo].[usp_KiemTraKhachHang]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_KiemTraKhachHang]
	@CMND NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT CMND FROM dbo.KhachHang WHERE dbo.KhachHang.CMND = @CMND)
		RETURN 1
	IF EXISTS(SELECT CMND FROM LINK0.NGANHANG.dbo.KhachHang KH WHERE KH.CMND = @CMND)
		RETURN 2  
	RETURN 0 
END
GO
/****** Object:  StoredProcedure [dbo].[usp_KiemTraNhanVien]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_KiemTraNhanVien] 
@MaNV NCHAR(10)
AS
BEGIN
	IF EXISTS(SELECT MANV FROM dbo.NhanVien WHERE MANV = @MaNV)
		OR EXISTS (SELECT MANV FROM LINK0.NGANHANG.dbo.NhanVien WHERE MANV = @MaNV)
		RETURN 1
	RETURN 0
END


GO
/****** Object:  StoredProcedure [dbo].[usp_KiemTraSoTK]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_KiemTraSoTK]
	@SOTK NCHAR(9)
AS
BEGIN
	IF EXISTS(SELECT TK.SOTK FROM TaiKhoan TK WHERE TK.SOTK = @SOTK)
		RETURN 1
	ELSE RETURN 0
END

GO
/****** Object:  StoredProcedure [dbo].[usp_LayChiNhanhHienTai]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_LayChiNhanhHienTai]
AS
BEGIN
    SELECT MACN	FROM dbo.ChiNhanh;
END


GO
/****** Object:  StoredProcedure [dbo].[usp_LayDsChiNhanhKhac]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_LayDsChiNhanhKhac]
AS
BEGIN
	DECLARE @MaCNSubcriber NCHAR(10);
	SELECT @MaCNSubcriber = MACN FROM dbo.ChiNhanh;
	SELECT MACN, TENCN, DIACHI, SoDT FROM LINK0.NGANHANG.dbo.ChiNhanh
	WHERE MACN <> @MaCNSubcriber
END

GO
/****** Object:  StoredProcedure [dbo].[usp_LayNhanVienKhongCoTK]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[usp_LayNhanVienKhongCoTK]
AS
BEGIN
	SELECT MANV, HO, TEN, DIACHI, PHAI, SODT, MACN FROM dbo.NhanVien
	WHERE NOT EXISTS(SELECT * FROM sys.sysusers WHERE name = MANV) AND TrangThaiXoa = 0
END

GO
/****** Object:  StoredProcedure [dbo].[usp_Login]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Login]
@LoginName NVARCHAR (50)
AS
BEGIN
	DECLARE @uid INT;
	DECLARE @MANV NCHAR(10);
	
	SELECT @uid = uid, @MANV = name FROM sys.sysusers WHERE sid = SUSER_SID(@LoginName);
	 
	SELECT	USERNAME = @MANV, 
			HOTEN = (SELECT HO + ' ' + TEN FROM NHANVIEN WHERE MANV = @MANV),
			TENNHOM = name
	FROM sys.sysusers 
	WHERE uid = (SELECT groupuid FROM sys.sysmembers WHERE memberuid = @uid)
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeKhachHang]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_ThongKeKhachHang]
AS
BEGIN
	SELECT kh.CMND, kh.HOTEN, kh.DIACHI, kh.PHAI, kh.NGAYCAP, kh.SODT, cn.TENCN
	FROM 
	(
		SELECT CMND, (HO + ' ' + TEN) AS [HOTEN], DIACHI, PHAI, NGAYCAP, SODT, MACN
		FROM LINK0.NGANHANG.dbo.KhachHang
	) kh
	JOIN LINK0.NGANHANG.dbo.ChiNhanh cn 
	ON cn.MACN = kh.MACN
	ORDER BY cn.TENCN, kh.HOTEN
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeMoTaiKhoanChiNhanh]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[usp_ThongKeMoTaiKhoanChiNhanh] 
(@dateFrom AS DATE, @dateTo AS DATE,@maCN NCHAR(10))
AS
BEGIN
	--DECLARE @maCN NCHAR(10);
	--SET @maCN = (SELECT MACN FROM dbo.ChiNhanh);

	
	SELECT tk.SOTK, kh.HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK
	FROM 
	(
		SELECT SOTK, CMND, SODU, NGAYMOTK FROM dbo.TaiKhoan
		WHERE NGAYMOTK BETWEEN @dateFrom AND @dateTo
		AND MACN = @maCN
	) tk
	JOIN 
	(
		SELECT (HO + ' ' + TEN) AS [HOTEN], CMND
		FROM LINK0.NGANHANG.dbo.KhachHang
	) kh 
	ON kh.CMND = tk.CMND
	ORDER BY tk.NGAYMOTK ASC
END

GO
/****** Object:  StoredProcedure [dbo].[usp_ThongKeMoTaiKhoanTatCaChiNhanh]     ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_ThongKeMoTaiKhoanTatCaChiNhanh]
(@dateFrom AS DATE, @dateTo AS DATE)
AS
BEGIN
	SELECT tk.SOTK, kh.HOTEN, kh.CMND, tk.SODU, tk.NGAYMOTK, cn.TENCN
	FROM 
	(
		SELECT SOTK, CMND, SODU, NGAYMOTK, MACN FROM dbo.TaiKhoan
		WHERE DATEADD(dd, 0, DATEDIFF(dd, 0, NGAYMOTK)) BETWEEN @dateFrom AND @dateTo
	) tk
	JOIN 
	(
		SELECT (HO + ' ' + TEN) AS [HOTEN], CMND
		FROM LINK0.NGANHANG.dbo.KhachHang
	) kh 
	ON kh.CMND = tk.CMND
	JOIN
	(
		SELECT MACN, TENCN FROM LINK0.NGANHANG.dbo.ChiNhanh
	) cn 
	ON cn.MACN = tk.MACN
	ORDER BY cn.TENCN ASC, tk.NGAYMOTK ASC
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'‘GT’ : gởi tiền vào TK , ‘RT’ : rút tiền khỏi TK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GD_GOIRUT', @level2type=N'COLUMN',@level2name=N'LOAIGD'
GO
